/.metadata/
/MapObject/target/
/SetterInjection/target/
/pcname/target/
/Scope/target/
/newPreoject/target/
/Hello/target/
/Hello/bin/target/
/LifeCycle/target/
/AnnotationsDemo/target/
/Annobject/target/
