<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id = "map" class="com.Sagar.ListObject.Program1">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="Sagar"></constructor-arg>
		<constructor-arg>
			<map>
				<entry key="Java" value="Programming Language"></entry>
				<entry key ="Python" value="Scripting Language"></entry>
				<entry key = "HTML" value="Markup Language"></entry>
			</map>
		</constructor-arg>
	</bean>
<!--
   <bean id = "answer1" class = "com.Sagar.ListObject.Answer">
      <constructor-arg value = "1"></constructor-arg>
      <constructor-arg value = "In the MidNight"></constructor-arg>
      <constructor-arg value = "Sagar"></constructor-arg>
   </bean>
   <bean id = "answer2" class = "com.Sagar.ListObject.Answer">
      <constructor-arg value = "2"></constructor-arg>
      <constructor-arg value = "Ravi"></constructor-arg>
      <constructor-arg value = "In th Middle Of ocean"></constructor-arg>
   </bean>
   
      <bean id = "question" class = "com.Sagar.ListObject.Question">
         <constructor-arg value = "111"></constructor-arg>
         <constructor-arg value = "Rohit"></constructor-arg>
         <constructor-arg>
            <list>
               <ref bean = "answer1"/>
               <ref bean = "answer2"/>
            </list>
         </constructor-arg>
      </bean> -->
</beans>
